*{
    padding: 0;
    margin-right: 0;
    box-sizing: border-box;

}
:root{
    --background:#000430;
    --secondarybackground:#171c48;
    --text:#fff;
    --purple:#828dff;
    --teal:#24feee;
}
body{
    background-color: var(--background);
    color: var(--text);
    
}
.container{
    display: flex;
    align-items: center;
    margin-top: 120px;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;

margin: 120px auto 0 auto;
max-width: 500px;

}
.details{
    width: 100%;}
  


#progress{
    width:90%;
    height:10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.stats-container{
padding:30px;
border-radius: 20px;
border:2px solid var(--purple);
display: flex;
gap: 20px;
width: 100%;
justify-content: space-between;
}
#numbers {
    width: 90px;
    height: 90px;
     display:flex;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-color: var(--teal);
    color: var(--text);
    box-shadow: 0 0 20px rgba(139, 30, 63, 0.6);
    letter-spacing: 1px;
}
#progressbar{
    width: 100%;
    height: 10px;
    background-color: var(--secondarybackground);
border-radius: 5px;
margin-top: 20px;

}
form{
    margin-top: 60px;
width: 100%;
display: flex;
}
input{
    padding: 16px;
    background-color: var(--secondarybackground);
    border: 1px solid var(--purple);
flex: 1;
border-radius: 10px;
color: #fff;

}
button{
    padding: 16px;
    height:50px;
    width: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;

}
.icons img{
    width:25px;
    height:25px;
    cursor: pointer;

}
.taskItem{
    display: flex;
    background-color: var(--secondarybackground);
    padding: 10px;
border-radius: 10px;
justify-content: space-between;
align-items: center;
}
#task-list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
    width: 100%;
    list-style: none;
}
.task input{
width: 20px;
height:24px;
}
.task{
    display:flex;
    align-items: center;
    gap: 10px;

}
.task.completed p {
    text-decoration: line-through;
    color: var(--teal);
}